.language-switcher
  = link_to url_for(locale: :de), 
    class: "language-link #{I18n.locale == :de ? 'active' : ''}" do
    = image_tag "flags/de.svg", alt: "Deutsch", class: "flag-icon"
  = link_to url_for(locale: :en), 
    class: "language-link #{I18n.locale == :en ? 'active' : ''}" do
    = image_tag "flags/gb.svg", alt: "English", class: "flag-icon" 