.user-menu{"data-controller": "dropdown"}
  %button.user-button{
    type: "button",
    "data-action": "dropdown#toggle",
    "aria-haspopup": "true",
    "aria-expanded": "false"}
    = heroicon "user-circle", options: { class: "h-8 w-8" }
    = heroicon "chevron-down", options: { class: "h-4 w-4" }

  .dropdown-menu.hidden{"data-dropdown-target": "menu"}
    = link_to settings_path, class: "dropdown-item" do
      = heroicon "cog-6-tooth", options: { class: "dropdown-icon" }
      = t('shared.user_menu.settings')
    = button_to destroy_user_session_path, 
      method: :delete, 
      class: "dropdown-item" do
      = heroicon "arrow-right-on-rectangle", options: { class: "dropdown-icon" }
      = t('shared.user_menu.sign_out')
