= form_with url: conversations_path, method: :post,
  data: { controller: "speech form",
          speech_voice_id_value: current_user.elevenlabs_voice_id,
          speech_api_key_value: current_user.elevenlabs_api_key,
          action: "speech:finished->form#submit" } do |f|
  .flex.gap-2
    = f.text_field :content,
      class: "flex-1 rounded border p-2",
      placeholder: t('.enter_text'),
      required: true,
      data: { speech_target: "text" }
    = f.select :category_id,
      Category.all.map { |c| [c.name, c.id] },
      { selected: Category.find_by(name: 'General')&.id },
      class: "rounded border p-2"
    = f.button class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600",
      data: { action: "click->speech#speak" } do
      = t('.speak') 