!!! 5
%html{lang: I18n.locale}
  %head
    %title= content_for?(:title) ? "#{yield(:title)} - Listen2Me" : "Listen2Me"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{name: "description", content: t('.app_description')}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.relative
    .skip-nav
      = link_to t('.skip_to_main'), '#main-content', 
        class: 'skip-link',
        "aria-label": t('.skip_to_main_aria')
    
    = render 'shared/header'
    = render 'shared/flash_messages'
    
    %main#main-content{tabindex: -1, role: "main"}
      = yield
      
    - if content_for?(:keyboard_shortcuts)
      %footer{role: "contentinfo", "aria-label": t('.keyboard_shortcuts')}
        = yield(:keyboard_shortcuts) 